Pdf contract generator.json
{
  "name": "Pdf contract generator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        -144
      ],
      "id": "c91fbfbd-11a6-4c84-90a1-b024477c87a0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        208,
        -144
      ],
      "id": "061ae7ce-4009-4035-b864-521ab67ab28e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zsxsUy5kUZ6ZkYADAf6eFXh2tSFTNQ3giyXe-c7h-Wc",
          "mode": "list",
          "cachedResultName": "Contract Details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zsxsUy5kUZ6ZkYADAf6eFXh2tSFTNQ3giyXe-c7h-Wc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zsxsUy5kUZ6ZkYADAf6eFXh2tSFTNQ3giyXe-c7h-Wc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -224,
        -144
      ],
      "id": "9fda4dd6-664b-43e0-8e55-345e68ebab84",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IGBzmluIOIJdjbqa",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "[Date]",
              "replaceText": "={{ $now.toFormat('MMM d, yyyy') }}"
            },
            {
              "action": "replaceAll",
              "text": "[Start Date]",
              "replaceText": "={{ $('Get row(s) in sheet').item.json['Start Date'] }}"
            },
            {
              "action": "replaceAll",
              "text": " [Client’s Company Name]",
              "replaceText": "={{ $('Get row(s) in sheet').item.json['Client\\'s Company Name'] }}"
            },
            {
              "action": "replaceAll",
              "text": "[Contract Duration]",
              "replaceText": "={{ $('Get row(s) in sheet').item.json['Contract Duration'] }}"
            },
            {
              "action": "replaceAll",
              "text": "[Monthly Fee]",
              "replaceText": "={{ $('Get row(s) in sheet').item.json['Monthly Fee'].toString() }}"
            },
            {
              "action": "replaceAll",
              "text": "=[Late Fee]",
              "replaceText": "={{ $('Get row(s) in sheet').item.json['Late Fee'].toString()}}"
            },
            {
              "action": "replaceAll",
              "text": "[Client Name]",
              "replaceText": "={{ $('Get row(s) in sheet').item.json['Client Name'] }}"
            },
            {
              "action": "replaceAll",
              "text": "[Client Title]",
              "replaceText": "={{ $('Get row(s) in sheet').item.json['Client Title'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        848,
        -80
      ],
      "id": "3592a807-d379-4b77-a694-3f35b293dd21",
      "name": "Update a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "v2b2sKGC8SuGON6u",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1QhKD5bYIwjWQYOCKgwpeQf3yD2SMb_wQ057j1D21MCc",
          "mode": "list",
          "cachedResultName": "Contract Template",
          "cachedResultUrl": "https://docs.google.com/document/d/1QhKD5bYIwjWQYOCKgwpeQf3yD2SMb_wQ057j1D21MCc/edit?usp=drivesdk"
        },
        "name": "=Contract for  {{ $json['Client\\'s Company Name'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        576,
        -128
      ],
      "id": "4ab377e8-615f-457a-9bf9-ab7b4104aab3",
      "name": "Copy file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yuqJJ67PWiZPsxV1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1168,
        -64
      ],
      "id": "c3d1fe7e-a8f6-4f6a-8798-0e9df8581223",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yuqJJ67PWiZPsxV1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "=Contract for  {{ $('Get row(s) in sheet').item.json['Client\\'s Company Name'] }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1u4MeicNDZe9x24CNRCzeJ8gZdOJncHQg",
          "mode": "list",
          "cachedResultName": "Contract Generator",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1u4MeicNDZe9x24CNRCzeJ8gZdOJncHQg"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1920,
        -32
      ],
      "id": "3b927494-7239-42c2-a5f1-47ffab9dec21",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yuqJJ67PWiZPsxV1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get row(s) in sheet').item.json['Email ID'] }}",
        "subject": "Contract for AI Automation",
        "message": "=Dear HR  {{ $('Get row(s) in sheet').item.json['Client\\'s Company Name'] }},<br><br>\nPlease find contract details on AI Automation for Arivu AI. Please sign and revert back in a week time.<br><br>\nThanks,<br><br>\nBest Regards<br>\nShanaz,<br>\nHR Arivu AI",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1488,
        -64
      ],
      "id": "3509ffdc-81f4-419c-9324-57c6f48ffa89",
      "name": "Send a message",
      "webhookId": "f5600d49-2061-40f3-95b0-52ea1398d01e",
      "credentials": {
        "gmailOAuth2": {
          "id": "IPE38exoY3SCqRw7",
          "name": "Gmail account_palani"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1472,
        800
      ],
      "id": "e3b0fed4-4183-4be9-ad25-6f64cefdba17",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Update a document1').item.json.documentId }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1712,
        -64
      ],
      "id": "6d5cd7ec-f69c-4a28-86ff-17ce80551c05",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yuqJJ67PWiZPsxV1",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Copy file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document1": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file2": {
      "main": [
        [
          {
            "node": "Update a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        []
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "352763f3-112f-4646-8585-6ff031140fbb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "298041bc2608408beaaf79b703a9e506ed46b9ec7f9520bd3013aa10c2364612"
  },
  "id": "mYB8M9IzDjL0nefW",
  "tags": []
}